node_modules
server/node_modules
client/node_modules
server/.env.*
client/.env.*
**/.eslintcache
.build.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.idea