option_settings:
  aws:ec2:vpc:
    AssociatePublicIpAddress: 'true'
    ELBScheme: public
    VPCId: vpc-03eef1698e1418682
    Subnets: subnet-0f5ac382b506bde94,subnet-0e96f57dc123f7ffe,subnet-0ad98046deaa85832
    ELBSubnets: subnet-0f5ac382b506bde94,subnet-0e96f57dc123f7ffe,subnet-0ad98046deaa85832
