option_settings:
  aws:ec2:vpc:
    AssociatePublicIpAddress: 'true'  # TODO: find way the AWS::CloudFormation::WaitCondition fails if this value is set to false
    ELBScheme: public
    ####################################
    # Development environment #
    ####################################
    VPCId: vpc-02d25c9e78c1265e7

    # * Public shared subnets (development env) *
    # used this config if you want the app to be deploy in the new Network / VPC / subnets
    #
    # Subnets: subnet-0fc8b76de2a6bb50a,subnet-0d82508202855bb4b,subnet-0393952f44faf2591
    # ELBSubnets: subnet-0fc8b76de2a6bb50a,subnet-0d82508202855bb4b,subnet-0393952f44faf2591

    # etvas-internal-test app dedicated network (development env)
    Subnets: subnet-040fc3acbe9bdfd18,subnet-057838339de3e5553,subnet-00236ad6868b88ad2
    ELBSubnets: subnet-040fc3acbe9bdfd18,subnet-057838339de3e5553,subnet-00236ad6868b88ad2

    # etvas-internal-live app dedicated network (development env)
#    Subnets: subnet-04e912b2670edfb38,subnet-033531956e77e6daa,subnet-05e39e5bc97608d7b
#    ELBSubnets: subnet-04e912b2670edfb38,subnet-033531956e77e6daa,subnet-05e39e5bc97608d7b

    ####################################
    # Production environment #
    ####################################
#    VPCId: vpc-0cfe7ca139c619b8e

    # * Public shared subnets (PRODUCTION env) *
    # used this config if you want the app to be deploy in the new Network / VPC / subnets
    #
    # Subnets: subnet-0c6a12bdb6fe90f86,subnet-0a13c51b0a5f15a35,subnet-099d1b83d836eb97d
    # ELBSubnets: subnet-0c6a12bdb6fe90f86,subnet-0a13c51b0a5f15a35,subnet-099d1b83d836eb97d

    # etvas-internal-test app dedicated network (PRODUCTION env)
#    Subnets: subnet-05a4b00faad0bccf8,subnet-0739650626a16ca7d,subnet-0cd933ec5c6725668
#    ELBSubnets: subnet-05a4b00faad0bccf8,subnet-0739650626a16ca7d,subnet-0cd933ec5c6725668

    # etvas-internal-live app dedicated network (PRODUCTION env)
#    Subnets: subnet-0ce41aa09efd32301,subnet-0a72c3e1c61eb7323,subnet-0274d7853d1746b0f
#    ELBSubnets: subnet-0ce41aa09efd32301,subnet-0a72c3e1c61eb7323,subnet-0274d7853d1746b0f

    # spb-test app dedicated network (PRODUCTION env)
#    Subnets: subnet-0817f2b87caedb339,subnet-09a468b6cf296f3c5,subnet-0f7e092612c083934
#    ELBSubnets: subnet-040fc3acbe9bdfd18,subnet-057838339de3e5553,subnet-00236ad6868b88ad2

    # spb-live app dedicated network (PRODUCTION env)
#    Subnets: subnet-0e67e854e5582323e,subnet-0f86a4f5571fc0133,subnet-0cb231196b74517c1
#    ELBSubnets: subnet-0e67e854e5582323e,subnet-0f86a4f5571fc0133,subnet-0cb231196b74517c1
