Resources:
  # Add to the AutoScalingGroup a TargetGroup association with the Internal NLB
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      TargetGroupARNs:
        - Ref: InternalTargetGroup

  # Add a SG to the EC2 instances that will allow inbound traffic from NLB and VPN
  AWSEBAutoScalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchConfiguration
    Properties:
      SecurityGroups:
        - Ref: AWSEBSecurityGroup
        - Ref: InstanceSecurityGroup